
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
    margin: 0;
    padding: 0;
    background: #EFEFEF url('../Images/main-bg.jpg') repeat;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 200;
    color: #000000;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-weight: 300;
    color: #221D1D;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 2.4em;
}

h3 {
    font-size: 1.6em;
}

p, ul, ol {
    margin-top: 0;
    line-height: 180%;
}

ul, ol {
}

a {
    text-decoration: none;
    color: #091478;
}

    a:hover {
    }

strong {
    font-weight: bold;
}

#wrapper {
    padding: 0;
    background: url('../Images/main-image-bg.jpg') no-repeat center top;
}

.float-left {
    float: left;
}

/* Header */

#header {
    width: 940px;
    height: 50px;
    margin: 0 auto;
}

/* Logo */

#logo {
    width: 960px;
    height: 50px;
    margin: 0px auto 30px auto;
    color: #000000;
}

    #logo h1, #logo p {
        margin: 0;
        padding: 0;
    }

    #logo h5 {
        text-align: center;
        text-transform: lowercase;
        font-size: 15px;
    }

    #logo p {
        text-align: center;
        color: #000000;
    }

        #logo p a {
            color: #000000;
        }

    #logo a {
        border: none;
        background: none;
        text-decoration: none;
        color: #054175;
    }

/* Search */

#search {
    float: right;
    width: 280px;
    height: 60px;
    padding: 20px 0px 0px 0px;
    background: #323435;
    border-bottom: 4px solid #0974C4;
}

    #search form {
        height: 41px;
        margin: 0;
        padding: 10px 0 0 20px;
    }

    #search fieldset {
        margin: 0;
        padding: 0;
        border: none;
    }

#search-text {
    width: 170px;
    padding: 6px 5px 2px 5px;
    border: none;
    background: #000000;
    text-transform: lowercase;
    font: normal 11px Arial, Helvetica, sans-serif;
    color: #464032;
}

#search-submit {
    width: 50px;
    height: 23px;
    border: 1px solid #525252;
    background: #525252;
    font-weight: bold;
    font-size: 10px;
    color: #000000;
}

/* Menu */

#menu {
    overflow: hidden;
    width: 1000px;
    padding: 0px 0px;
    margin: 0px auto 30px auto;
    background: #064C8A;
    border-radius: 20px 0px 20px 0px;
    font-size: 20px;
    color: #000000;
}

    #menu ul {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px;
        list-style: none;
        line-height: normal;
        text-align: center;
    }

    #menu li {
        display: inline-block;
    }

    #menu a {
        display: block;
        padding: 15px 40px 15px 40px;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        font-size: 16px;
        font-weight: 200;
        color: #FFFFFF;
        border: none;
    }

        #menu a:hover, #menu .current_page_item a {
            text-decoration: none;
        }

    #menu .current_page_item a {
        background: #05457D;
        color: #FFFFFF;
    }

    #menu .last {
        border-right: none;
    }

/* Page */

#page {
    overflow: hidden;
    width: 940px;
    margin: 0px auto;
    padding: 30px 30px;
    background: #FFFFFF;
    border: 1px solid #D4D4D4;
}

/* Content */

#content {
    float: left;
    width: 600px;
    padding: 10px 0px 0px 0px;
}

.post {
}

    .post .title {
        margin-bottom: 10px;
        padding: 12px 0px 20px 0px;
        letter-spacing: -1px;
        color: #101010;
    }

        .post .title a {
            color: #101010;
            border: none;
        }

    .post .meta {
        height: 30px;
        border-bottom: 1px solid #292929;
        margin: 0px;
        padding: 0px 0px 0px 0px;
        text-align: left;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        font-weight: bold;
    }

        .post .meta .date {
            float: left;
            height: 24px;
            padding: 3px 15px;
            color: #BBBBBB;
        }

        .post .meta .posted {
            float: right;
            height: 24px;
            padding: 3px 15px;
            color: #BBBBBB;
        }

        .post .meta a {
            color: #BBBBBB;
        }

    .post .entry {
        padding: 0px 0px 20px 0px;
        padding-bottom: 20px;
        text-align: justify;
    }

.links {
    padding-top: 20px;
    font-size: 12px;
    font-weight: bold;
}

/* Sidebar */

#sidebar {
    float: right;
    width: 280px;
    padding: 30px 0px 0px 0px;
    color: #383838;
}

    #sidebar ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    #sidebar li {
        margin: 0;
        padding: 0;
    }

        #sidebar li ul {
            margin: 0px 0px;
            padding-bottom: 30px;
        }

        #sidebar li li {
            line-height: 35px;
            border-bottom: 1px dotted #D4D4D4;
            margin: 0px 0px;
            border-right: none;
        }

        #sidebar li a {
            background: url(images/img03.gif) no-repeat left 6px;
        }

        #sidebar li li span {
            display: block;
            margin-top: -20px;
            padding: 0;
            font-size: 11px;
            font-style: italic;
        }

    #sidebar h2 {
        padding: 0px 0px 30px 0px;
        letter-spacing: -1px;
        font-size: 1.8em;
        color: #101010;
    }

    #sidebar p {
        margin: 0 0px;
        padding: 10px 30px 20px 30px;
        text-align: justify;
    }

    #sidebar a {
        border: none;
        color: #383838;
    }

        #sidebar a:hover {
            text-decoration: underline;
            color: #181818;
        }

/* Calendar */

#calendar {
}

#calendar_wrap {
    padding: 20px;
}

#calendar table {
    width: 100%;
}

#calendar tbody td {
    text-align: center;
}

#calendar #next {
    text-align: right;
}

/* Footer */

#footer {
    overflow: hidden;
    width: 1000px;
    height: 50px;
    margin: 0 auto;
    padding: 40px 0 15px 0;
    border-top: 1px solid #D4D4D4;
}

    #footer p {
        margin: 0;
        padding-top: 20px;
        line-height: normal;
        text-align: center;
        color: #000000;
    }

    #footer a {
        color: #000000;
    }

#three-columns {
    overflow: hidden;
    width: 1000px;
    margin: 0px auto;
    padding: 30px 0px;
    border-bottom: 1px solid #D4D4D4;
    color: #000000;
}

    #three-columns h2 {
        padding: 0px 0px 20px 0px;
        font-size: 30px;
        color: #000000;
    }

    #three-columns #column1 {
        float: left;
        width: 290px;
        margin-right: 40px;
    }

    #three-columns #column2 {
        float: left;
        width: 290px;
    }

    #three-columns #column3 {
        float: right;
        width: 300px;
    }

.link-style {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 15px;
    background: #064C8A;
    border-radius: 10px 0px 10px 0px;
    color: #FFFFFF;
}

.link-style2 {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 25px;
    background: #064C8A;
    border-radius: 10px 0px 10px 0px;
    font-size: 20px;
    color: #FFFFFF;
}

#welcome {
    width: 1000px;
    margin: 0px auto;
    padding: 30px 0px;
    border-bottom: 1px solid #D4D4D4;
    color: #000000;
}

    #welcome h2 {
        padding: 0px 0px 20px 0px;
    }

        #welcome h2 a {
            color: #000000;
        }

    #welcome a {
        color: #000000;
    }

#banner {
    overflow: hidden;
    width: 1000px;
    margin: 0px auto;
    padding: 30px 0px;
    border-top: 1px solid #D4D4D4;
    border-bottom: 1px solid #D4D4D4;
}

#two-columns {
    overflow: hidden;
    width: 1000px;
    margin: 0px auto;
    padding: 30px 0px;
}

    #two-columns #col1 {
        float: right;
        width: 640px;
        color: #000000;
    }

    #two-columns #col2 {
        float: left;
        width: 320px;
    }

    #two-columns h2 {
        padding: 0px 0px 20px 0px;
        color: #000000;
    }

    #two-columns .image-style {
    }

    #two-columns .text-style {
        padding-bottom: 10px;
        border: 10px solid #000000;
        text-align: center;
        font-size: 20px;
    }
